/* タイトルのスタイル */
.home_main_content {
  height: 100vh;
  width: 100vw;
  background-color: rgb(167, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-top: 20px;
}

/* ログインとサインアップリンクの親要素のスタイル */
.links {
  text-align: center;
  margin-top: 40px;
}

/* 共通リンクスタイル */
.link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.link:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

/* ログインリンクのスタイル */
.login-link {
  background-color: #007bff;
  font-size: 24px;
  text-decoration: none;
}

/* サインアップリンクのスタイル */
.signup-link {
  background-color: #28a745;
  font-size: 24px;
  text-decoration: none;
}

/* ホバースタイル */
.login-link:hover {
  background-color: #0056b3;
}

.signup-link:hover {
  background-color: #1f8e39;
}
